**/node_modules/
**/dist/

.env
client/.env.local
client/.env.development
client/.env.production
client/server/dynamodb-local-metadata.json
client/shared-local-instance.db
server/.env

client/.next/

.DS_STORE
Thumbs.db

.vscode/

server/shared-local-instance.db
server/dynamodb-local-metadata.json
shared-local-instance.db
dynamodb-local-metadata.json